.UserItem {
  color: black;
  margin: 10px 0;
  border: 1px solid #aaa;
  padding: 5px;
}

/* .UserItem input {
  border: 1px solid grey;
  height: 20px;
  width: 90%;
}

button {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: purple;
  color: white;
}
 */
