* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #222222;
  /* height: 100vh; */
  width: 100vw;
}

#main {
  width: 900px;
  /* height: 100vh; */
  max-width: 90%;
  margin: 3rem auto;
}
